<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieInternetDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A237801D1EBBC4F1007C73FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23780311EBBC4F1007C73FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A237803C1EBBC4F1007C73FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
